# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/config.h
/config.h.in
/config.status
/configure
/depcomp
/install-sh
/missing
/test-driver
.deps/
.libs/
.dirstamp
stamp-h1
stamp-h2

# libtool

/config.guess
/config.sub
/ltmain.sh
/ltconfig
/libtool

# Object files
*.o
*.lo

# Coverage data
*.gcno
*.gcda
cov/
/all.info
/orle.info

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Generated headers
orleconfig.h
